.form_container{
    background: linear-gradient(to bottom right, hsl(283, 37%, 30%), hsl(318, 29%, 30%));
    height: 100vh;
    color: #96a8bb;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.form_container label,
.form_container h1{
    font-size: 24px;
    font-weight: bold;
    color: violet;
    font-family: monospace, 'Courier New', Courier
}
.form_container input{
    margin: 10px 0;
    padding: 8px 0;
    padding-left: 20px;
    background-color: #22272b;
    color: #b6c2cf;
    border-radius: 5px;
    border: none;
    width: 30%;
    font-size: 14px;
    font-weight: 400;
}
.form_container button{
    border-radius: 5px;
    background-color: #579dff;
    color: #1d2125;
    font-size: 14px;
    font-weight: 500;
    padding: 6px 12px;
    margin: 0;
    border: none;
}
.form_container button:hover{
    background-color: hsl(215, 100%, 77%);
}
.form_container img{
    margin-top: 36px;
}