body{
    background: linear-gradient(to bottom right, hsl(267, 56%, 35%), hsl(318, 29%, 35%));
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0;
    text-align: center;
}
